@font-face {
  font-family: fuente_titulo;
  src: url(../fuentes/noto-sans-kr-v12-latin-500.woff);
}

body{
  background-color: aquamarine;
}
h4{
  color: silver;
  font-family: fuente_titulo;
  text-align: center;
  font-size: 26px;
  
}

div{
  background-color: #89e9a4;
  border: 2px dotted orange;
  float: left;
  width: 160px;
  height: 160px;
  padding: 3px;
  margin-left: 15px;
  margin-top: 20px;
  
  

}
p::first-letter {
  font-size: 200%;
  color: orange;
  font-family: fuente_titulo;
  
}
p{
  font-family: verdana;
  font-style: italic;
  text-align: justify;
  font-size: 13px;
  padding: 5px;
}

#cabecera1, #cabecera2, #cabecera3, #cabecera4, #cabecera5, #cabecera6, #cabecera7, #cabecera8, #cabecera9{
  background-color: orange;
  float: left;
  width: 120px;
  height: 18px;
  margin-top: -14px;
  padding: 1px;
  color: aqua;
  font-family: verdana;
  font-size: 18px;
  font-style: italic;
  
  
}
